html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background: #F6A823;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 250px;
  padding: 20px 0;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

header ul li a:hover {
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.user-info,
.user-comment {
  margin-bottom: 20px;
  font-size: 0;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-info input {
  width: 49%;
  padding: 25px 20px 25px 20px;
  border: none;
  font-size: 18px;
  font-style: italic;
}

.user-comment input {
  width: 100%;
  padding: 50px 20px 220px;
  font-size: 18px;
  border: none;
  font-style: italic;
}

html {
  font-size: 62.5%;
}

body {
  color: #2C2C2C;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 10em;
  line-height: 92px;
}

h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.2em;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.2em;
  letter-spacing: 1px;
}

h4 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  letter-spacing: 1px;
}

h5 {
  font-family: "Roboto", sans-serif;
}

a {
  text-transform: uppercase;
  color: #2C2C2C;
}

button {
  background: #05AFC1;
  border: none;
  padding: 10px 20px;
}

button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8em;
}

i {
  font-size: 2.6em;
}

.nav-bar {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 29px;
  letter-spacing: 1px;
}

span {
  font-family: "Lora", serif;
  font-size: 2.4em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 32px;
}

.home {
  background: #F6A823;
}

.home .home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title {
  position: relative;
}

.main-title img {
  position: absolute;
  width: 40%;
  top: 25px;
  right: 265px;
}

.main-title i {
  color: black;
  font-size: 6em;
  visibility: hidden;
}

.sophie-img {
  width: 30%;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
  position: relative;
  top: 60px;
}

.about-section {
  background: #F0EFED;
}

.about-section h2 {
  margin-top: 0;
  padding-top: 100px;
}

.who-is-sophie {
  width: 70%;
  margin-left: 100px;
  padding-bottom: 120px;
}

.fav-things {
  background: white;
}

.about-sophie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fav-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fav-things .fav-things-img {
  width: 50%;
}

.fav-things .fav-things-img img {
  width: 100%;
  -webkit-box-shadow: 15px 15px #A82706, -100px 15px #A82706;
          box-shadow: 15px 15px #A82706, -100px 15px #A82706;
  position: relative;
  top: -38px;
}

.fav-things-content,
.travelled-content {
  width: 50%;
  margin: 0;
  padding: 40px 100px 80px;
  max-height: 100%;
}

.fav-things-content {
  padding: 40px 40px 0 100px;
}

.travelled-content {
  text-align: right;
  padding: 0 100px 40px 80px;
}

.travelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.travelled .travelled-img {
  width: 50%;
}

.travelled .travelled-img img {
  width: 100%;
  -webkit-box-shadow: 15px 15px #F6A823, 100px 15px #F6A823;
          box-shadow: 15px 15px #F6A823, 100px 15px #F6A823;
  position: relative;
  top: 40px;
}

.blurb-section {
  background: #F0EFED;
  padding: 100px 0 50px;
}

.blurbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 100px;
}

.blurb {
  margin: 20px 10px;
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blurb h3 {
  margin: 0;
  font-size: 2.6em;
}

.blurb .blurb-content {
  padding-left: 20px;
  width: 100%;
}

.blurb .blurb-content p {
  margin-top: 15px;
}

.icon-background {
  background: #F6A823;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.icon-background i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
}

.journey-header-img {
  background-image: url(../sophie-assets/home-image-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

.journey-section {
  background-color: #F0EFED;
  padding: 80px 0;
}

.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey h2 {
  margin-top: 0;
}

.journey-img {
  width: 20%;
  height: 100%;
  margin-left: 40px;
  -webkit-box-shadow: 15px 15px #F6A823;
          box-shadow: 15px 15px #F6A823;
}

.journey-content {
  width: 75%;
  margin: 0 40px;
  padding: 0 40px;
}

.gallery img {
  margin: 60px 20px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.blog-home {
  background-image: url(../sophie-assets/blog-image-1.jpg);
  height: 50vh;
  background-size: cover;
}

.blog-home h1 {
  margin: 0 0 0 150px;
  position: relative;
  top: 310px;
  font-size: 6.2em;
}

.blog-home i {
  visibility: hidden;
}

.blog-section {
  background: #F0EFED;
  padding: 80px 0px;
}

.blog-section a {
  color: #285E64;
  text-decoration: none;
  text-transform: none;
  font-weight: 700;
}

.blog-section span {
  color: #285E64;
  font-size: 1em;
  font-weight: 700;
}

.blog-section button a {
  text-transform: uppercase;
  color: black;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column1,
.column2 {
  margin: 20px;
}

.column1 {
  width: calc(30% - 40px);
}

.column2 {
  width: 70%;
}

.column2 h2 {
  margin: 20px 0 0;
  font-size: 3.2em;
}

.blog-about-sophie {
  background: white;
  padding-top: 30px;
}

.blog-about-sophie img {
  padding: 0 30px;
}

.blog-about-sophie .sophie-content {
  padding: 25px 30px 10px;
}

.blog-about-sophie .sophie-content h4 {
  margin: 0;
  font-size: 2em;
}

.blog-about-sophie .sophie-content p {
  margin-top: 10px;
}

.recent-posts {
  background: white;
}

.recent-posts h4 {
  margin-bottom: 0;
  font-size: 2em;
  padding: 30px 30px 15px;
}

.recent-posts ul {
  margin: 0;
  list-style-type: none;
  padding-bottom: 20px;
  font-size: 1.8em;
}

.recent-posts ul li:before {
  content: "\2022";
  color: #F6A823;
  display: inline-block;
  width: 20px;
  font-size: 1.2em;
}

.recent-posts li {
  padding-bottom: 5px;
}

.why-blog {
  background: white;
  padding: 30px 30px 10px;
  border-bottom: 5px solid #F6A823;
}

.why-blog .blogger-post p:first-of-type {
  font-style: italic;
}

.jeremy-post,
.julia-post {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 10px;
}

.jeremy-post h5,
.julia-post h5 {
  color: #285E64;
  font-size: 2em;
  margin: 0;
  font-style: italic;
}

.julia-post {
  border-bottom: 5px solid #F6A823;
  margin: 20px 0 30px;
}

.jeremy-img,
.julia-img {
  padding: 40px 20px 40px 40px;
  width: 35%;
  margin-bottom: 50px;
}

.julia-content,
.jeremy-content {
  padding: 40px 10px 0;
  margin-right: 10px;
}

.julia-content p,
.jeremy-content p {
  margin-top: 10px;
}

.contact-home {
  background-image: url(../sophie-assets/contact-image-1.jpg);
  height: 50vh;
  background-size: cover;
}

.contact-home h1 {
  margin: 0 0 0 150px;
  position: relative;
  top: 310px;
  font-size: 6.2em;
}

.contact-home i {
  visibility: hidden;
}

.get-in-touch {
  padding-top: 100px;
  background: #F0EFED;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}

.contact-info {
  background: white;
  width: 30%;
  margin-bottom: 130px;
}

.contact-info .social-media,
.contact-info h5,
.contact-info p {
  padding-left: 30px;
}

.contact-info .social-media i,
.contact-info h5 i,
.contact-info p i {
  color: #F6A823;
  padding: 40px 15px 20px;
  font-size: 3em;
}

.contact-info .social-media i:first-child,
.contact-info h5 i:first-child,
.contact-info p i:first-child {
  padding-left: 0px;
}

.contact-info h5 {
  font-size: 2.4em;
  margin: 0 0 20px 0;
}

.contact-info p {
  margin: 0;
}

.contact-form {
  width: 65%;
}

footer {
  background: #2C2C2C;
  color: #F0EFED;
  text-align: center;
}

footer p {
  margin: 0;
}

/*Adjustment for font size and nav-bar*/
@media (max-width: 980px) {
  html {
    font-size: 55%;
  }
  header ul {
    margin: 0 175px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  html {
    font-size: 52%;
  }
  .main-title img {
    display: none;
  }
  .gallery-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery-section img {
    margin: 60px 5px;
  }
}

/* Adjustment of nav-bar */
@media (max-width: 850px) {
  header ul {
    margin: 0 150px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header nav {
    display: none;
  }
  .main-title i {
    visibility: visible;
  }
  .home-page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .main-title {
    width: 65%;
    text-align: center;
  }
  .home-page .sophie-img {
    width: 40%;
  }
  .who-is-sophie {
    text-align: center;
  }
  .fav-things {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fav-things .fav-things-img {
    width: 70%;
  }
  .fav-things .fav-things-content {
    width: 80%;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .travelled {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .travelled .travelled-img {
    width: 70%;
  }
  .travelled .travelled-img img {
    position: relative;
    top: 0;
  }
  .travelled .travelled-content {
    width: 80%;
    padding-right: 20px;
    padding-top: 30px;
  }
  .blurb-section {
    padding-top: 20px;
    border-bottom: 5px solid #F6A823;
  }
  .blurb-section .blurbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blurb-section .blurbs .blurb {
    width: 100%;
  }
  .journey-header-img {
    display: none;
  }
  .journey-section {
    padding-top: 20px;
  }
  .journey-section .journey {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journey-section .journey .journey-img {
    width: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    padding: 20px 40px 0;
  }
  .journey-section .journey .journey-content {
    padding-top: 40px;
    text-align: center;
  }
  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery img {
    width: 85%;
    margin-bottom: 0;
  }
  .gallery img:last-child {
    margin-bottom: 60px;
  }
  .blog-home,
  .contact-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
  }
  .blog-home h1,
  .contact-home h1 {
    position: relative;
    top: 0;
    margin: 0;
    text-align: center;
  }
  .blog-home i,
  .contact-home i {
    visibility: visible;
    margin: 0 auto;
    font-size: 6em;
  }
  .blog-section,
  .get-in-touch {
    padding-top: 20px;
  }
  .column1,
  .contact-info {
    width: 40%;
  }
  .column2,
  .comtact-form {
    width: 60%;
  }
  .contact-form {
    margin-left: 15px;
  }
  .contact-info {
    margin-bottom: 200px;
  }
  .jeremy-post,
  .julia-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jeremy-img,
  .julia-img {
    margin-bottom: 20px;
    padding-bottom: 0;
    width: 70%;
  }
  .jeremy-content,
  .julia-content {
    padding-top: 0;
    text-align: center;
  }
  .contact {
    padding-bottom: 40px;
  }
  .user-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .user-info input {
    width: 100%;
  }
  input[type="email"] {
    margin-top: 20px;
  }
}

/* Contact section extra formatting*/
@media (max-width: 700px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-info,
  .contact .contact-form {
    width: 80%;
    text-align: center;
  }
  .contact-info .social-media,
  .contact-info h5,
  .contact-info p {
    padding: 0;
  }
  .contact-info p:last-child {
    padding-bottom: 20px;
  }
  .contact-info {
    margin-bottom: 40px;
  }
  .contact-form {
    margin: 0;
  }
}

/*Extra break for all sections except contact page*/
@media (max-width: 600px) {
  h1 {
    font-size: 7em;
  }
  .who-is-sophie {
    margin: 0 70px;
  }
  .fav-things {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fav-things .fav-things-content {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .travelled {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .travelled .travelled-content {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .column .column1,
  .column .column2 {
    width: 90%;
  }
  .column1 {
    margin-bottom: 10px;
  }
  .sophie-content h4,
  .sophie-content p {
    text-align: center;
  }
  .sophie-content h4 a,
  .sophie-content p a {
    display: block;
  }
  .recent-posts h4 {
    text-align: center;
  }
  .jeremy-post,
  .julia-post {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .jeremy-img,
  .julia-img {
    padding: 40px 0 0;
    width: 40%;
  }
  .jeremy-img img,
  .julia-img img {
    width: 100%;
  }
  .blog-section {
    padding-bottom: 20px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .sophie-img {
    display: none;
  }
  .home {
    padding-bottom: 40px;
  }
  .about-section .who-is-sophie {
    padding-bottom: 80px;
  }
  .about-section .who-is-sophie h2 {
    padding-top: 20px;
  }
  .blurbs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blurbs .blurb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blurbs .blurb .blurb-title {
    text-align: center;
    padding-right: 15px;
    padding-top: 5px;
  }
  .blurbs .blurb .blurb-text {
    display: none;
  }
  .journey-section .journey .journey-img {
    width: 70%;
    padding: 0;
  }
  .journey-section .journey .journey-img img {
    width: 100%;
  }
  .journey-section .journey .journey-content {
    padding: 40px 0 0;
  }
  .gallery {
    padding: 0;
  }
  .gallery img {
    margin-top: 10px;
    width: 100%;
  }
  .gallery img:last-child {
    margin-bottom: 10px;
  }
}
